:root{

  /* Logo Fonts:
  Robinson Corroded
  Aged Machine
  Archivo Black
  */

  /* Logo Colors */

  --purple: #440E51;
  --pink: #FC1681;
  --yellow: #FFE578;

  /* Shades */

  /* purple */

  /* pink */

  /* yellow */
}