/* Photos in video:

Video Made by: Kaileb Hammontree

Man: Photo by Cesar Galeão: https://www.pexels.com/photo/man-holding-dumbbell-3289711/

Woman: Photo by Pixabay: https://www.pexels.com/photo/woman-holding-exercise-equipment-416809/

*/

/* 

Background Videos:

Login Page: Video by Nikita Ryumshin: https://www.pexels.com/video/glowing-cubes-7832341/
*/

:root{

  /* Logo Fonts:
  Robinson Corroded
  Aged Machine
  Archivo Black
  */

  /* Logo Colors */

  --purple: #440E51;
  --pink: #FC1681;
  --yellow: #FFE578;

  /* Shades */

  /* purple */
  --purpShade1: #B926DE;
  --purpShade2: #841B9E;
  --purpShade3: #4F105E;
  --purpShade4: #2F0A38;

  /* pink */
  --pinkShade1: #BD1161;
  --pinkShade2: #7D0B40;
  --pinkShade3: #3D061F;
  --pinkShade4: #E31475;

  /* yellow */
  --yellowShade1: #BFAB5A;
  --yellowShade2: #80723C;
  --yellowShade3: #40391E;
  --yellowShade4: #E6CD6C;

  /* Fonts: */
  --archivo: 'Archivo Black', sans-serif;

}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-color: var(--purple);
}
/* ! Everything in this react app is hooked to root, so setting flex to just body won't do anything... */
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}