footer {
    margin: 0;
    padding: 4%;
    background-color: black;
    color: var(--yellow);
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}