footer {
    margin: 0;
    padding: 5%;
    background-color: var(--pinkShade3);
    color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    
}

.copyright {
    font-size: .8rem;
}

.photo-credit {
    font-family: var(--archivo);
    color: inherit;
    background-color: var(--purple);
    border-color: var(--pink);
    border-radius: 3rem;
}